<header class="site-header">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-12 col-12 d-flex align-items-center">
                <a class="site-header-text d-flex justify-content-center align-items-center me-auto"
                   href="{{ path('home') }}">
                    <i class="bi-box"></i>
                    <span>SMARKET</span>
                </a>

                <ul class="social-icon d-flex justify-content-center align-items-center me-auto">
                    <span class="text-white me-4 d-none d-lg-block">Stay Trendy</span>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                    </li>
                </ul>

                <div>
                    <a href="{{ path('login') }}" class="custom-btn custom-border-btn btn">
                        Login
                        <i class="bi-box-arrow-in-right ms-2"></i>
                    </a>
                    <a href="{{ path('register') }}" class="custom-btn-inv custom-border-btn-inv btn">
                        Register
                        <i class="bi-person-add ms-2"></i>
                    </a>
                    <a href="{{ path('profile') }}" class="custom-btn custom-border-btn btn">
                        <i class="bi-person-circle"></i>
                    </a>
                    <a href="{{ path('cart_show') }}" class="custom-btn-inv custom-border-btn-inv btn">
                        <i class="bi-cart4"></i>
                    </a>
                    <a href="{{ path('logout') }}" class="custom-btn custom-border-btn btn">
                        Logout
                        <i class="bi-box-arrow-right ms-2"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>
</header>
