{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}



{% block body %}
    <h1>Add Category</h1>
    
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}