{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
<h1>Add Product</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}

    {{ form_row(form.properties) }}
    
    {{ form_row(form.imageFile) }}

    {{ form_row(form.category) }}

    {{ form_row(form.submit) }}

{{ form_end(form) }}

{% endblock %}
