<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to SMARKET!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/tooplate.css') }}">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<main>
    {% block navbar %}
        {% include('fragments/navbar.html.twig') %}
    {% endblock %}

    {% for type in ['info','success', 'error'] %}
        {% for  message in app.session.flashBag.get(type) %}
            <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {#    {% block debug %} #}
    {#        <a href="{{ path('home') }}">Home</a> #}
    {#        <a href="{{ path('login') }}">Login</a> #}
    {#        <a href="{{ path('register') }}">Register</a> #}
    {#        <a href="{{ path('logout') }}">Logout</a> #}
    {#        <a href="{{ path('profile') }}">Profile</a> #}
    {#    {% endblock %} #}
    {% set is_login_or_register =
            app.request.attributes.get('_route') == 'login'
        or  app.request.attributes.get('_route') == 'register' %}
    {% if not is_login_or_register %}
    <div class="container mt-4 mb-5" style="border-radius: 0.5rem; background-color: white; padding: 2rem;">
        {% endif %}
    {% block body %}{% endblock %}
    {% if not is_login_or_register %}
    </div>
    {% endif %}
</main>
</body>
</html>
